(
    seed: 2916896280,
    planet_radius_in_km: 6326.6,
    tectonic_config: (
        continental_crust: 0.3,
        crust_import_source: None,
        height_import_source: None,
        plate_import_source: None,
        crust_clustering: 0.4,
        secondary_crust_clustering: 0.4,
        crust_warping_strength: 1.0,
        average_plate_speed: 5.0,
        hawaiian_hotspot_frequency: 1.0,
        icelandic_hotspot_frequency: 1.0,
        superswell_frequency: 1.0,
        superswell_average_size: 0.02,
        superswell_average_height: 500.0,
        old_mountains_frequency: 1.0,
        old_hills_frequency: 1.0,
        uplifts_frequency: 1.0,
        uplands_frequency: 0.33,
        north_pole_plate: Either,
        south_pole_plate: Either,
        eurasian_plate: Either,
        african_plate: Either,
        north_american_plate: Either,
        south_american_plate: Either,
        pacific_plate: Either,
        plate_count_super_ocean: 1,
        plate_count_major_ocean: 2,
        plate_count_minor_ocean: 2,
        plate_count_micro_ocean: 4,
        plate_count_super_continent: 0,
        plate_count_major_continent: 3,
        plate_count_minor_continent: 2,
        plate_count_micro_continent: 4,
    ),
    climate_config: (
        land_sunkeness: 133.2,
        last_glacial_maximum_temperature_anomaly: -10.0,
        global_temperature_anomaly: 0.0,
    ),
)