.header {
  height:90px;
  text-align:center;
  background-color:#0287e0;
}

body {
  background-color:#75588e;
}

div.box {
  border:5px solid;
  display:flex;
  justify-content:space-between;
  text-align:center;
  background-color:#d1a2f9;
}
