/* General */
body {
    color:#bac2de;
    background-color:#1e1e2e;
    font-family: 'Cantarell';
}
/* a */
a:link {
    color:#bac2de;
}
a:visited {
    color:#BA8CFF;
}

/* Top Banner */
.topBanner {
    background-color:#4D5060;
}
.topBanner #headerSections {
    width:100%;    
}
.topBanner #name {
    width:65%;
    text-align:left;
    margin:auto;
}
.topBanner #mainButtons button {
    background-color:#cdd6f4;
    height:50px;
    width:100px;
}
.spacer {
    padding:10px;
}
#scheduleTable, th, tr, td {
    border:1px solid #BAC2DE;
    text-align:center;
}

/* Container */
.container {
    width: 100%;
    margin:auto;
}
.headerLink {
    color:#bac2de;
    font-weight:bold;
    text-decoration:none;
    font-size:x-large;
}
.subHeaderLink {
    color:#bac2de;
    font-weight:bold;
    text-decoration:none;
    font-size:large;
}
.headerLink:visited {
    color:#bac2de;
    font-weight:bold;
    text-decoration:none;
    font-size:x-large;
}
.subHeaderLink:visited {
    color:#bac2de;
    font-weight:bold;
    text-decoration:none;
    font-size:x-large;
}
.container .headerList {
    width:17%;
    float:left;
    height:100%;
    background-color:#4D5060;
    text-align:center;
    color:#bac2de;
    flex-wrap: wrap;
}
.container .headerList body {
    text-decoration-line: underline;
}
.container .textBox {
    width:80%;
    float:right;
    background-color:#4D5060;
    height: auto;
    padding:10px;
}
.container .clear {
    clear: both;
}
.container .headerSeperator {
    color:#cdd6f4;
}