/* General */
body {
    color:#bac2de;
    background-color:#1e1e2e;
    font-family: 'Cantarell';
}

i {
    color:#a6d189;
}

button {
    background-color:#cdd6f4;
    height:50px;
    width:100px;
    text-wrap: wrap;
}

table, td, th {
	text-align: center;
    margin: 1.5rem 0;
	border: 1px solid #bac2de;
    border-radius: 8px;
	border-collapse: collapse;
    overflow: hidden;
} 
/* a */
a {
    color:#89dceb;
}
.headerLink a,
.mainNav a {
    color: inherit;
}
a:visited {
    color:#74c7ec;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

/* Top Banner */
.topBanner {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #4D5060;
    margin-bottom: 25px;
}

.bannerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteName {
    padding-left: 20px;   /* Extra padding on the left */
}

.siteName h1 {
    margin: 0;
}

.mainNav {
    display: flex;
}

.mainNav a {
    display: block;
    padding: 18px 24px;
    text-decoration: none;
    background-color: #4D5060;
	border: 1px solid #6B7085;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.mainNav a:hover {
    background-color: #5b5f72;
}

/* Link Chain */
.linkChain {
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	font-size:large;
}

/* Container */
.container {
    width: 100%;
    margin:auto;
}
.headerLink {
    color:#bac2de;
    font-weight:bold;
    text-decoration:none;
    font-size:x-large;
}
.subHeaderLink {
    color:#bac2de;
    font-weight:bold;
    text-decoration:none;
    font-size:large;
}
.headerLink:visited {
    color:#bac2de;
    font-weight:bold;
    text-decoration:none;
    font-size:x-large;
}
.subHeaderLink:visited {
    color:#bac2de;
    font-weight:bold;
    text-decoration:none;
    font-size:x-large;
}
.container .headerList {
    width:17%;
    float:left;
    height:100%;
    background-color:#4D5060;
    text-align:center;
    color:#bac2de;
    flex-wrap: wrap;
}
.container .headerList body {
    text-decoration-line: underline;
}
.container .textBox {
    width:80%;
    float:right;
    background-color:#4D5060;
    height: auto;
    padding:10px;
}
.container .clear {
    clear: both;
}
.container .headerSeperator {
    color:#cdd6f4;
}